@font-face {
    font-family: 'cervomedium';
    src: url('../../fonts/cervo-medium-webfont.woff2') format('woff2'),
         url('../../fonts/cervo-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cervo';
    src: url('../../fonts/cervo-regular-webfont.woff2') format('woff2'),
         url('../../fonts/cervo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cervoregular_italic';
    src: url('../../fonts/cervo-regularitalic-webfont.woff2') format('woff2'),
         url('../../fonts/cervo-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pobedabold';
    src: url('../../fonts/pobeda-bold-webfont.woff2') format('woff2'),
         url('../../fonts/pobeda-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pobeda';
    src: url('../../fonts/pobeda-regular-webfont.woff2') format('woff2'),
         url('../../fonts/pobeda-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}